<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add homework</title>
</head>
<body>

<h1>Add homework</h1>

<form th:action="@{/menu/homework/add}" method="post">
    <label for="task">Task: </label>
    <input id="task" type="text" name="task">
    <br/> <br/>
    <label for="date">Date: </label>
    <input id="date" type="text" name="task" value="yyyy-mm-dd">
    <br/> <br/>
    <label for="time">Time: </label>
    <input id="time" type="text" name="task" value="hh:mm">
    <br/> <br/>
    <label for="lectionId">Lection id: </label>
    <input id="lectionId" type="text" name="lectionId">
    <br/> <br/>
    <input type="submit" value="Add">
</form>

</body>
</html>
