<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<h1>Main</h1>

<form th:action="@{/courses}" method="get">
    <input type="submit" value="Courses">
</form>

<br/>

<form th:action="@{/lections}" method="get">
    <input type="submit" value="Lections">
</form>

<br/>

<form th:action="@{/people}" method="get">
    <input type="submit" value="People">
</form>

<br/>

<form th:action="@{/contacts}" method="get">
    <input type="submit" value="Contacts">
</form>

<br/>

<form th:action="@{/resources}" method="get">
    <input type="submit" value="Resources">
</form>

<br/>

<form th:action="@{/homeworks}" method="get">
    <input type="submit" value="Home Works">
</form>

<br/>

<form th:action="@{/logger}" method="get">
    <input type="submit" value="Logger">
</form>

</body>
</html>