<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add resource</title>
</head>
<body>

<h1>Add resource</h1>

<form th:action="@{/menu/resource/add}" method="post">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <br/> <br/>
    <label for="type">Type: </label>
    <input id="type" type="text" name="type">
    <br/> <br/>
    <label for="data">Data: </label>
    <input id="data" type="text" name="data">
    <br/> <br/>
    <label for="lectionId">Lection id: </label>
    <input id="lectionId" type="text" name="lectionId">
    <br/> <br/>
    <input type="submit" value="Add">
</form>

</body>
</html>
