<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>

<h1>Add</h1>

<form th:action="@{/menu/contacts/add}" method="post">
    <label for="email">Email: </label>
    <input id="email" type="text" name="email">
    <br/> <br/>
    <label for="phone">Phone: </label>
    <input id="phone" type="text" name="phone">
    <br/> <br/>
    <label for="personId">Person id: </label>
    <input id="personId" type="text" name="personId">
    <br/> <br/>
    <input type="submit" value="Add">
</form>

</body>
</html>